.footer{

background:#07182f;

color:white;

padding:70px 8% 20px;

}



.footer-container{

display:grid;

grid-template-columns:2fr 1fr 1fr 1fr;

gap:40px;

}



.footer-logo{

display:flex;

align-items:center;

gap:12px;

}



.footer-logo svg{

font-size:35px;

color:#ff9800;

}



.footer-logo h2{

font-size:30px;

}



.footer-logo span{

color:#ff9800;

}



.footer-brand p{

color:#c8d3e0;

line-height:1.7;

margin:20px 0;

}



.social-icons{

display:flex;

gap:18px;

}



.social-icons svg{

font-size:22px;

color:#ff9800;

cursor:pointer;

transition:.3s;

}



.social-icons svg:hover{

transform:translateY(-5px);

}





.footer-links h3{

font-size:20px;

margin-bottom:20px;

}



.footer-links a{

display:block;

text-decoration:none;

color:#c8d3e0;

margin-bottom:12px;

}



.footer-links a:hover{

color:#ff9800;

}



.footer-links p{

color:#c8d3e0;

}



.footer-bottom{

margin-top:50px;

padding-top:20px;

border-top:1px solid rgba(255,255,255,.2);

text-align:center;

color:#c8d3e0;

}





@media(max-width:900px){


.footer-container{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.footer-container{

grid-template-columns:1fr;

}


}